In [6]:
import pandas as pd
Iris_Dataset=pd.read_csv('dataset_mid.csv')

In [7]:
Iris_Dataset

     Suhu    pH  Turbidity  target
0   28.62  6.82     127.88       0
1   28.19  6.77     219.75       0
2   27.94  6.88     588.09       0
3   28.31  6.90     546.58       0
4   27.25  6.56     462.89       0
..    ...   ...        ...     ...
85  29.91  8.69    1216.80       2
86  29.12  8.91    1661.67       2
87  29.47  8.44    1325.52       2
88  29.77  8.38    1627.69       2
89  29.13  7.98    1450.02       2

[90 rows x 4 columns]

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()

In [10]:
from sklearn.preprocessing import MinMaxScaler

# create scaler
scaler = MinMaxScaler()

# fit and transform in one step

df2 = scaler.fit_transform(Iris_Dataset)
df2 = pd.DataFrame(df2, columns=Iris_Dataset.columns)

df2 = pd.DataFrame(df2)

In [11]:
df2.describe()

            Suhu         pH  Turbidity     target
count  90.000000  90.000000  90.000000  90.000000
mean    0.668135   0.509241   0.315446   0.500000
std     0.237858   0.314053   0.239755   0.410535
min     0.000000   0.000000   0.000000   0.000000
25%     0.510599   0.131068   0.099062   0.000000
50%     0.679551   0.613269   0.274419   0.500000
75%     0.872818   0.773463   0.471266   1.000000
max     1.000000   1.000000   1.000000   1.000000

In [12]:
df2

        Suhu        pH  Turbidity  target
0   0.670823  0.084142   0.000000     0.0
1   0.563591  0.067961   0.033731     0.0
2   0.501247  0.103560   0.168972     0.0
3   0.593516  0.110032   0.153731     0.0
4   0.329177  0.000000   0.123003     0.0
..       ...       ...        ...     ...
85  0.992519  0.689320   0.399811     1.0
86  0.795511  0.760518   0.563150     1.0
87  0.882793  0.608414   0.439728     1.0
88  0.957606  0.588997   0.550674     1.0
89  0.798005  0.459547   0.485440     1.0

[90 rows x 4 columns]

## Data MID Normalize

In [13]:
# saving the dataframe
# membuat air_normalize_data_3
df2.to_csv('data_mid_normalize.csv')

## Data Final

In [14]:
import pandas as pd
Iris_Dataset=pd.read_csv('dataset_final.csv')

In [16]:
Iris_Dataset.describe()

            Suhu         pH  Turbidity     target
count  90.000000  90.000000  90.000000  90.000000
mean    0.668135   0.509241   0.315446   1.000000
std     0.237858   0.314053   0.239755   0.821071
min     0.000000   0.000000   0.000000   0.000000
25%     0.510599   0.131068   0.099062   0.000000
50%     0.679551   0.613269   0.274419   1.000000
75%     0.872818   0.773463   0.471266   2.000000
max     1.000000   1.000000   1.000000   2.000000